<a href="/clients">Return to Clients</a>
<h3><%= client_id ? "Edit" : "New" %> Client</h3>

<form action="/clients/edit/<%=client_id?client_id:''%>" method="POST"> 
  <input type="hidden" id="client_id" name="client_id" value="<%= client_id%>">
  <div>
    <label for="firstName">First Name:</label>
    <div><input id="firstName" name="firstName" type="text" value="<%=clientA.firstName?clientA.firstName:''%>"
    </div>
  </div>  

  <div>
    <label for="lastName">Last Name: </label>
    <div><input id="lastName" name="lastName" type="text" value="<%=clientA.lastName?clientA.lastName:''%>"</div>
  </div>

  <div>
    <label id = "email" for="email">Email:</label>
    <div><input id="email" name="email" type="text" value="<%=clientA.email?clientA.email:''%>"</div>
    
  </div>

  <div>
    <button  id = "submitButton" class="btn btn btn-primary" type="submit" value="Submit">Submit</button>
  </div>

</form>
<!-- <button  class="btn btn-danger" onClick="window.location.href='/clients'">Cancel</button> -->

<div><%= errorMessage %></div>


