<a href="/invoices">Return to Invoices</a>
<h3><%= invoiceId?'Edit':'New' %> Invoice</h3>
<form
  id="invoice-form"
  action="/invoices/edit/<%= invoiceId??''%>"
  method="POST"
>
  <label for="name">Name:</label>
  <input
    id="invoice-name"
    name="name"
    type="string"
    value="<%=invoice.name ?
  invoice.name : '' %>"
  />
  <label for="invoiceDate">Invoice Date:</label>
  <input
    id="invoice-date"
    name="invoiceDate"
    type="date"
    value="<%=invoice.invoiceDate ? invoice.invoiceDate : '' %>"
  />
  <label for="dueDate">Due Date:</label>
  <input
    id="due-date"
    name="dueDate"
    type="date"
    value="<%=invoice.dueDate ? invoice.dueDate : '' %>"
  />
  <label for="clientId">Client:</label>
  <select name="clientId">
    <option value="">Select a client</option>
    <% for (let i=0; i < clients.length; i++) { %>
    <option value="<%=clients[i]._id %>" <%=invoice.client && clients[i]._id.equals(invoice.client._id) && 'selected' %>
      > <%= clients[i].name%>
    </option>
    <%} %>
  </select>
  <label for="productId">Product:</label>
  <div class="display-flex">
    <select name="productId">
      <option value="">Select a product</option>
      <% for (let i=0; i < products.length; i++) { %>
      <option
        value="<%=products[i]._id %>"
        <%= invoice.products && invoice.products[0]._id && products[i]._id.equals(invoice.products[0]._id) && 'selected' %>
      >
        <%= products[i].name%>
      </option>
      <%} %>
    </select>
    <label for="productQuantity" hidden></label>
    <input
      id="product-quantity"
      name="productQuantity"
      type="number"
      placeholder="Enter quantity"
      value="<%= products[0].productQuantity??''%>"
    />
  </div>

  <input
    id="invoiceId"
    name="invoiceId"
    type="string"
    value="<%= invoiceId %>"
    hidden
  />
  <button class="btn btn-success" type="submit" value="Submit">Submit</button>
</form>
<p class="error-message"><%= errorMessage %></p>
<script>
  let invoiceDate = document.getElementById('invoice-date');
  if (invoiceDate.value === '') {
    invoiceDate.valueAsDate = new Date();
  }
</script>
