<h1>Products</h1>
<!-- <% for (const key in product) { %>
    <p>
        <%= key%>: <%= product[key]%>
    </p>
    <% } %> -->

<p>Name: <%= product.name%></p>
<p>Description: <%= product.description%></p>
<p>Price: <%= product.price%></p>
<p>weight: <%= product.weight%></p>
<p>unit: <%= product.unit%></p>

<button class="btn btn-primary" onClick="window.location.href='/products'">
  Back to list
</button>
